// Place all the styles related to the public/CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.title{
  font-size: 25px;
  display: inline-block;
}

.destroy_all{

}

.totalprice_table{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.continue{
  display: inline-block;
}

.orderlink{
  margin-top: 10px;
  text-align: center;
}