<h2>会員一覧</h2>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <%@customers.each do |customer|%>
    <tr>
      <td><%=customer.id%></td>
      <td><%=link_to customer.name%></td>
      <td><%=customer.email%></td>
      <td>
        <%if customer.is_active == true%>
        <font color="green">有効</font>
        <%else%>
        <font color="red"></font>
        <%end%>
      </td>
    </tr>
    <%end%>
  </tbody>

  <%=paginate @customers%>
</table>